
<ion-header>
    <ion-toolbar>
      <ion-title>
       Dados cliente
      </ion-title>
    </ion-toolbar>
    
    
  </ion-header>
  
  <ion-content padding>
    <div class="container">
      <table >
        <thead>
          <tr>      
            <th >Nome</th>
            <th >Email</th>
            <th >Endereço</th>
            <th >Senha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cliente">
            <td align-self-baseline>{{ c.nome }}</td>
            <td align-self-baseline>{{ c.email }}</td>
            <td align-self-baseline>{{ c.endereco }}</td>
            <td align-self-baseline>{{ c.senha }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-content>
    