<ion-header>
  <ion-toolbar>
    <ion-title>ingresso Barça.com</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img class="time" src="/assets/icon/download (2).jpg " alt="" />
        <ion-col>
            <div class="ion-text-center">
              <h3>JOGO DE IDA</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
            </div>
          </ion-col>
      </ion-col>
      <ion-col>
        <img class= "time1" src="/assets/icon/time2.png " alt="" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="time" src="/assets/icon/download (2).jpg " alt="" />
      </ion-col>
      <ion-col>
        <img class= "time1" src="/assets/icon/time2.png " alt="" />
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
