<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Sócio Torcedor</ion-title>
  </ion-toolbar>
  <img src="/assets/icon/download.jpg " alt=""><br>
</ion-header>

<ion-content>
    BENEFICIOS DE  SÓCIO TORCEDORES<BR>
      <hr>
      .Entrada grátis em todos jogos<br>
      .Direito a visitar o estádio<br>
      .Conhecer a sala de museu do clube<br>
      .Poder escolher local de assento 

      <img src="/assets/icon/barcelona_cartao_de_credito_china.jpg" alt="">
</ion-content>
