<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title color="danger">MUSEU</ion-title>
     
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    
    <h1 class="ion-text-center Museu " >
     Produtos a venda</h1><br><br>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              Pagamentos somente a vista
              <ion-card-subtitle></ion-card-subtitle>
              <ion-card-title>Primeira camisa</ion-card-title>
            </ion-card-header>       
            <ion-card-content>
              <a href="/oficial">
              <img src="/assets/icon/rakutem.jpg " alt=""></a>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>somente a vista</ion-card-subtitle>
              <ion-card-title>Camisa Reserva</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <a href="/reserva">
                <img src="/assets/icon/rakutem2.jpg " alt=""></a>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
            <ion-card>
              <ion-card-header>
                <ion-card-subtitle>Somente a vista</ion-card-subtitle>
                <ion-card-title>Mercurial Nike</ion-card-title>
              </ion-card-header>
              <ion-card-content>
               <a href="mercurial">
                  <img src="/assets/icon/chuteira.png " alt=""></a>
              </ion-card-content>
            </ion-card>
          </ion-col>
      </ion-row>
      </ion-grid>
      
      
      
        
      
      
      
      
  </ion-content>
  