<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>museu</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4>Guia do Passeio no Estádio do Barcelona FC com Visita ao Museu</h4><br><br>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Título 2018</ion-card-title>
          </ion-card-header>       
          <ion-card-content>
            <img src="/assets/icon/titulo.jpg " alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Titulo 2019</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <img src="/assets/icon/titulo.jpg " alt="">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    </ion-grid>
    <img src="/assets/icon/TROFEUS BLOG2.jpg" alt="">
</ion-content>
